.main {
	width: 560px;
	height: 560px;
	margin: auto;
	
}

.black {
	width: 70px;
	height: 70px;
	background: #8B4513;
	border: solid black 1px;
	text-align: center;
	font-size: 35px;
	
}

.white {
	width: 70px;
	height: 70px;
	background: #CD853F;
	border: solid black 1px;
	text-align: center;
	font-size: 35px;
    
}
.lines {
	width: 10px;
	height: 10px;
}
.columns {
	width: 10px;
	height: 10px;
	text-align: center;
}
